{% extends 'main.html' %}

{% block title %}Log in {% endblock %}

{% block styles %} <link rel = "stylesheet" href = "static/login.css">  {% endblock %}

{% block content %}
<div id="login">
	<form action="#", method = "post">
		<p>If an account doesn't exist, we'll just create one for you!</p>
		<h4>Email</h4>
		<input type = "text" name = "email" id="em">
		<h4>Password</h4>
		<input type = "password" name = "pass" id="pa">
		<h3><input type ="submit" value="Continue" id="enter"></h3>
	</form>
</div>


{% endblock %}